.Home {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
}

.toggle-sidebar {
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 10;
  padding: 10px 15px;
  background-color: #f4f4f4;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.create-node {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 10;
  padding: 10px 15px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.create-node {
  background-color: #45a049;
}

.node-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translation(-50%, -50%);
  width: 300px;
  height: 50%;
}
