.graphContainer {
  background-color: #efefef;
  background-image: linear-gradient(to right, #e0e0e0 1px, transparent 1px),
    linear-gradient(to bottom, #e0e0e0 1px, transparent 1px);
  background-size: 40px 40px;
  border-radius: 8px;
  overflow: hidden;
  width: 100vw;
  height: 80vh;
}

.links {
}
.nodes {
}

.link {
  stroke: black;
  stroke-width: 1.5px;
}

.nodeGroup {
  cursor: grab;
}

.nodeGroup:active {
  cursor: grabbing;
}

.nodeShape {
  stroke-width: 2px;
}

.nodeLabel {
  fill: #f0f0f0;
  font-family: sans-serif;
  font-size: 12px;
  pointer-events: none;
}

/* Define some colors for the nodes */
.color-0 {
  stroke: black;
  fill: #2781ad;
}
.color-1 {
  stroke: black;
  fill: #a855f7;
}
.color-2 {
  stroke: black;
  fill: #34d399;
}
.color-3 {
  stroke: black;
  fill: #60a5fa;
}
.color-4 {
  stroke: black;
  fill: #f472b6;
}
